.container {
    margin: 0 auto;
    color: #999;
    font-size: 14px;
    background: #fff;
    font-family: 'Segoe UI';
    padding: 0px 10px;
    overflow-y: auto;
}

input,
select,
button,
option {
    font-family: 'Segoe UI', 'wf_segoe-ui_normal', helvetica, arial, sans-serif;
    pointer-events: auto !important;
}

img {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

.col-md-12 {
    width: 100%;
    float: none;
    clear: both;
}

.col-md-10 {
    width: 79%;
    display: inline-block;
}

.col-md-9 {
    width: 75%;
    display: inline-block;
}

.col-md-8 {
    width: 65.66666667%;
    display: inline-block;
}

.col-md-7 {
    width: 57.33333333%;
    display: inline-block;
}

.col-md-6 {
    display: inline-block;
    width: 50%;
}

.col-md-5 {
    width: 40%;
    display: inline-block;
}

.col-md-4 {
    width: 32.33333333%;
    display: inline-block;
}

.col-md-3 {
    width: 24%;
    display: inline-block;
}

.col-md-2 {
    width: 20%;
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    font-family: 'Segoe UI Semibold';
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #999;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:before {
    border: 2px solid #000;
}

[type="radio"]:checked+label {
    color: #000;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #000;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

a {
    text-decoration: none;
    color: #999;
}

button:focus,
input:focus {
    outline: none;
}

a:visited,
a:hover {
    text-decoration: none;
}

.qlik-container header {
    position: relative;
    margin-left: 10px;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    width: calc(100% - 20px) !important;
}


.qlik-container header img {
    width: 20px;
}

.tab-header button {
    background-color: #fff;
    color: #1382bc;
    border: none;
    padding: 4px 14px;
    transition: .3s all ease;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Segoe UI Semibold';
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: 500;
}

.tab-header button:last-child {
    margin-left: -4px;
}

.tab-header button.active {
    background-color: #1db5ac;
    color: #fff;
}

.tab-header .narrative-tab {
    color: #1db5ac;
    background-color: #fff;
}

.tab-header button:first-child.active {
    background-color: #1382bc;
    color: #fff;
}

.tab-header button:last-child.active {
    background-color: #1db5ac;
    color: #fff;
}

.tab-header .narrative-tab {
    margin-left: -4px;
}

.tab-header a {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    text-decoration: underline;
}

section {
    float: none;
    /* margin-top: 10px; */
    clear: both;
}

.narrative-tabsection {
    margin-top: 10px;
    margin-bottom: 14px;
}

.card-content .col-md-6:last-child p.good-container {
    margin-left: 10px;
}

section .container-section {
    background-color: #f2f2f2;
    padding: 10px 15px 0px 16px;
}

section .description-container {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

section .description-container p {
    color: #999;
    /* color: #696967; */
    font-family: 'Segoe UI';
    font-size: 14px;
}

section .description-container p b {
    font-weight: 500;
    color: #000;
}

section select {
    width: 50%;
    padding: 10px;
    background-color: #fff;
    color: #999;
    font-weight: 500;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

section .param-section {
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
}

section .param-section .col-md-6:first-child {
    padding-right: 10px;
}

section .param-section select {
    width: 100%;
    margin-bottom: 10px;
}

section footer .generate_btn {
    border-radius: 25px;
    background-color: #00a9ce;
    color: #fff;
    border: none;
    margin: 15px 0;
    padding: 4.5px 20px;
    font-size: 14px;
    transition: all ease 0.3s;
    font-weight: 500;
}

section footer .generate_btn img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
    transition: all ease 0.3s;
}

section footer .openstudio_btn {
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    color: #fff;
    background-color: #4d4d4d;
    margin: 15px 8px 15px 0px;
    padding: 4.5px 20px;
    font-size: 14px;
    font-weight: 500;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal .modal-content {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    min-height: 200px;
    background: #fff;
    border: 1px solid #000;
    padding-bottom: 10px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.modal .modal-content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.modal .modal-content button {
    border: none;
    box-shadow: none;
    background: #33bad8;
    color: #fff;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
}

.modal .backdrop {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 999;
    height: 100vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin: 0 16px;
    text-align: center;
    margin-top: 3px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #000;
}

input:checked+.slider {
    background-color: #000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(10px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.simple-slide {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px 6px 0;
}

.simple-slide .simple,
.simple-slide .advance,
.simple-slide label {
    float: left;
}

.source-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    padding: 10px 0 4px 0;
    font-family: 'Segoe UI Semibold';
    /* margin-bottom: 10px; */
    font-size: 14px;
}

.source-container input:first-child {
    /* margin-top: 10px; */
    padding-top: 7px;
}

.source-container input:last-child {
    margin-bottom: 0px;
}

.studio-options {
    margin-top: 15px;
    margin-bottom: 15px;
}

.studio-options .col-md-3 p {
    color: #6c6c6c;
    font-family: 'Segoe UI Semibold';
    font-size: 14px;
}

.studio-options .col-md-9 p {
    display: inline-block;
    color: #6c6c6c;
    font-family: 'Segoe UI Semibold';
    font-size: 14px;
}

.studio-options .col-md-9 p:first-child {
    margin-right: 24px;
}

.edit-mapsection {
    display: flex;
    font-weight: 500;
}

.edit-mapsection label,
.insight-container label,
.wrapper-container label {
    font-family: 'Segoe UI Semibold';
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.edit-mapsection a {
    color: #b3b3b3;
    font-size: 13px;
    margin-right: 0px;
}

.edit-mapsection .data-json {
    float: left;
    padding-right: 8px;
}

.edit-mapsection .export {
    float: left;
    padding-right: 8px;
}

.edit-mapsection .col-md-4 {
    width: 33.333333333%;
}

.edit-mapsection .col-md-6 {
    width: 49%;
}

.edit-mapsection .edit-map,
.edit-mapsection .csv-payload {
    background-color: #666;
    color: #fff;
    padding: 4px 5px;
    transition: 0.3s all ease;
}

.edit-mapsection {
    padding-bottom: 16px;
}

.edit-mapsection .edit-map a img,
.edit-mapsection .csv-payload a img {
    margin-right: 2px;
}

.edit-mapsection .edit-map.active,
.edit-mapsection .csv-payload.active {
    color: #b3b3b3;
    background-color: #000;
}

.edit-mapsection textarea {
    width: 96%;
    resize: none;
    height: 105px;
    float: none;
    overflow-y: auto;
    background-color: #333;
    color: #fff;
    border: none;
    margin: 0;
    padding: 2%;
    transition: .3s all ease;
    font-family: Courier;
    font-size: 12px;
}

.edit-mapsection .export-container {
    width: 96%;
    height: 105px;
    overflow-y: auto;
    background-color: #333;
    color: #b3b3b3;
    transition: .3s all ease;
    font-size: 12px;
    font-family: Courier;
    word-wrap: break-word;
    padding: 2%;
}

.edit-mapsection img {
    width: 18px;
}

.edit-mapsection .col-md-6.text-right img {
    width: 12px;
}

.outofbox-tabsection,
.narrative-tabsection {
    transition: 0.3s all ease;
    /* padding: 0px 10px; */
}

.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #4d4d4d;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #808080;
}

span.simple.active,
span.advance.active {
    color: #000;
}

.simple,
.advance {
    font-size: 14px;
    font-family: 'Segoe UI Semibold';
}

input::placeholder {
    color: #ccc;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

.auth-header .col-md-4 {
    padding-right: 6px;
}

.auth-header .col-md-8 {
    padding-left: 6px;
}

.auth-header input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    font-size: 15px;
    padding: 10px 0 10px 0;
    font-weight: 500;
}

.insight-container,
.wrapper-container {
    margin-top: 8px;
    transition: all ease 0.3s;
}

.insight-container .insight-content,
.insight-container .wrapper-content,
.wrapper-container .insight-content,
.wrapper-container .wrapper-content {
    background-color: #f2f2f2;
    padding: 10px;
    transition: all ease 0.3s;
}

.insight-content p,
.wrapper-content p {
    font-size: 14px;
    font-family: 'Segoe UI';
    margin-bottom: 16px;
}

.insight-container hr,
.wrapper-container hr {
    border: none;
    height: 2px;
    background-color: #e6e6e6;
    margin-bottom: 5px;
}

.insight-container input,
.wrapper-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
    font-family: 'Segoe UI Semibold';
}

.insight-container .dynamic-header input,
.wrapper-container .dynamic-header input {
    padding: 10px 0px;
}

.insight-container .insight-accordian,
.insight-container .wrapper-accordian,
.wrapper-container .insight-accordian,
.wrapper-container .wrapper-accordian {
    background-color: #666;
    padding: 3px 5px 3px 12px;
    transition: all ease 0.3s;
    font-weight: 500;
    color: #fff;
}

.insight-container .insight-accordian img,
.insight-container .wrapper-accordian img,
.wrapper-container .insight-accordian img,
.wrapper-container .wrapper-accordian img {
    width: 20px;
    margin-right: 8px;
}

.insight-container .insight-accordian.active,
.insight-container .wrapper-accordian.active,
.wrapper-container .insight-accordian.active,
.wrapper-container .wrapper-accordian.active {
    background-color: #666;
    color: #fff;
    transition: all ease 0.3s;
}

.addheader-btn,
.removeheader-btn {
    margin-top: 8px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Segoe UI Semibold';
}

.addheader-btn img,
.removeheader-btn img {
    width: 12px;
    margin-right: 8px;
    vertical-align: sub;
}

.addheader-btn label,
.removeheader-btn label {
    font-family: 'Segoe UI Semibold';
    cursor: pointer;
}

.removeheader-btn {
    margin-left: 25px;
}

.removeheader-btn b {
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
    color: #000;
    vertical-align: sub;
}

ul li {
    list-style: disc;
    /* font-size: 14px; */
}

.narrative-container ul {
    padding-left: 40px;
}

.csv-export button {
    width: 50%;
    border: none;
    background-color: #d2f0ee;
    color: #1382bc;
    padding: 8px 14px;
    transition: .3s all ease;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.csv-export button.active {
    background-color: #1db5ac;
    color: #fff;
}

.csv-payloadcontainer,
.json-payloadcontainer {
    width: 100%;
    height: 70px;
    overflow-y: auto;
    background-color: #333;
    color: #b3b3b3;
    transition: .3s all ease;
    font-size: 12px;
    font-family: Courier;
    word-wrap: break-word;
}

.back-btn {
    margin-right: 10px;
    position: absolute;
    right: 15px;
    top: 0px
}

.back-btn img {
    width: 20px;
}

.loader {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.ball-scale-multiple {
    position: relative;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}

.ball-scale-multiple>div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.ball-scale-multiple>div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.ball-scale-multiple>div {
    position: absolute;
    left: -30px;
    top: 0;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1s 0s linear infinite;
    background-color: #00a9ce;
    border-radius: 100%;
}

@-webkit-keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.spin-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

div.header {
    text-align: center;
    position: relative;
}

div.header p {
    color: #1382bc;
    font-weight: 600;
    font-size: 15px;
    margin-top: -8px;
    margin-bottom: 6px;
}

div.header a.previous {
    left: 0;
    position: absolute;
    color: #1382bc;
    font-weight: 500;
}

div.header a.next {
    right: 0;
    position: absolute;
    color: #1382bc;
    font-weight: 500;
}

div.header img {
    width: 33px;
}

.slide ul {
    list-style: none;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 14px;
}

/* .tell-what .card .card-header {
    padding: 10px 0 6px 0;
} */

.slide ul li {
    background: #88c0dd;
    border: 1px solid #eee;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 8px;
    transition: all ease .3s;
}

.slide ul li.active {
    background: #fff;
    border: 2px solid #88c0dd;
    width: 6px;
    height: 6px;
    transition: all ease .3s;
}

.card.active img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.card {
    background: #f2f2f2;
    padding: 0 15px;
    margin-bottom: 8px;
}

.card .card-header {
    color: #000;
    font-weight: 500;
    position: relative;
    padding: 2.5px 0 1px 0;
}

.card .card-header img {
    position: absolute;
    right: 0;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    width: 12px;
    top: 25%;
}

.card .card-content {
    border-top: 1px solid #8f8f8f;
    position: relative;
}

.tell-data .card-content,
.tell-what .card-content {
    border-top: none;
}

.tell-what .card-content::before,
.tell-data .card-content::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 12px;
    right: 0;
    background: #c9c8c8;
}

#tell-what .card .card-header {
    padding: 4.5px 0 2px 0;
}

.card .card-content p,
.card .card-content .col-md-4,
.card .card-content .col-md-5,
.card .card-content .col-md-6,
.card .card-content .col-md-7 {
    display: inline-block;
    margin: 10px 0px;
}

.card .card-content p input,
.card .card-content .col-md-4 input,
.card .card-content .col-md-5 input,
.card .card-content .col-md-6 input,
.card .card-content .col-md-7 input {
    margin-left: 10px;
    padding: 5px;
}

.card .card-content p select,
.card .card-content .col-md-4 select,
.card .card-content .col-md-5 select,
.card .card-content .col-md-6 select,
.card .card-content .col-md-7 select {
    width: 60%;
    margin-left: 10px;
    padding: 5px;
    background-color: #e6e6e6;
    font-size: 14px;
    background-size: 18px;
}


.card::last-child {
    margin-bottom: 0px;
}

.text-center {
    text-align: center;
}

.tell-what .card-content {
    padding: 10px 0px 20px 0px;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1382bc;
    cursor: pointer;
    border-radius: 100%;
}

input[type='range']::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #1382bc;
    cursor: pointer;
    border-radius: 100%;
}

.tell-summary p {
    word-wrap: break-word;
    margin-left: 5px;
}

.outofbox-tabsection .card .card-content {
    display: none;
}

.outofbox-tabsection .card.active .card-content {
    display: block;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #666;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:before {
    background: #666;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.drillDownLayout .dd-ParentDiv {
    margin: 5px;
    float: left;
}

.drillDownLayout label {
    margin: 5px;
    min-width: 80px;
    max-width: 30%;
    display: inline-block;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drillDownLayout select {
    background-size: 20px;
    font-size: 14px;
    margin-right: 5px;
    min-width: 100px;
    max-width: 60%;
    padding-right: 20px;
    width: 50px;
}

.dropparent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

span.slide-span {
    position: absolute;
    bottom: -20px;
    left: 58%;
}

.card-content .col-md-8 {
    position: relative;
}

.edit-map .col-md-6:first-child {
    width: 79%;
}

.edit-map .col-md-6 {
    width: 20%;
}

button.generate_btn:disabled {
    color: #c0c0c0;
    background-color: #f2f2f2;
}

.card.disable {
    pointer-events: none;
    background: #f2f2f2;
    opacity: 0.3;
}

.multiple-range {
    margin: 0 auto;
    text-align: left;
    padding: 20px 0px 15px 0px;
}

.multiple-range label {
    width: 300px;
    position: relative;
}

.multiple-range label i {
    position: absolute;
    font-style: normal;
    top: -13px;
}

.multiple-range label input {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    top: -6px;
    outline: none;
    height: 5px;
    margin: 0;
    padding: 0;
    left: 15px;
    width: 300px;
}

.multiple-range label input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #1382bc;
    cursor: pointer;
    border-radius: 100%;
}

.multiple-range label input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    background: #1382bc;
    cursor: pointer;
    border-radius: 100%;
}

.multiple-range label input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 15px;
    height: 15px;
    background: #1382bc;
    cursor: pointer;
    border-radius: 100%;
}

.multiple-range label input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0;
}

.multiple-range label input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.multiple-range label input[type=range]::-moz-focus-outer {
    border: 0;
}

i:last-child {
    right: -30px;
}

.card-field {
    margin-bottom: 5px;
    margin-top: 10px;
}

.card-field .col-md-6 {
    width: 49%;
}

.card-field .col-md-6.text-right {
    padding-right: 10px;
}

.targetbasedvariance .col-md-4:nth-child(2) select {
    width: 49%;
    margin-left: 5px;
}

.correlations .card-content {
    text-align: center;
}

.correlations .card-content .col-md-8 {
    padding-top: 20px;
    margin: 0 auto;
    width: 70%;
}


.correlations .card-content .col-md-8 p {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-top: -2px;
}

.correlations .card-content .col-md-8:first-child .measure-container {
    display: inline-block;
}

.correlations .card-content .col-md-8 .measure-container select {
    width: 160px;
    margin-left: 10px;
    padding: 5px;
    background-color: #e6e6e6;
    font-size: 14px;
    background-size: 18px;
    margin-bottom: 15px;
}

.correlations .card-content .col-md-8 .controls {
    float: none;
    clear: both;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
}

.correlations .card-content .col-md-8:first-child .controls a img {
    width: 15px;
    margin-right: 8px;
    transform: none;
    -webkit-transform: none;
}

.correlations .card-content .col-md-8:first-child .controls a b {
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
    color: #000;
    vertical-align: sub;
}

.correlations .card-content .col-md-8:first-child .controls a:last-child {
    margin-left: 10px;
}

.tell-data .card-content .col-md-6:last-child p:first-child {
    margin-left: 10px;
}

.card .card-content p:last-child {
    margin-left: 30px;
}

.card .card-content .increase-container p.neutral-container,
.card .card-content .increase-container p.bad-container {
    margin-left: 30px;
}

.documentBtn {
    text-decoration: underline;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.accordian-summary {
    text-align: center;
}

.card.over {
    border-top: 3px dotted #71b4d7;
}

#distribution label {
    position: relative;
}

span.highlight {
    position: absolute;
    top: -35px;
}

span.slide-value {
    position: absolute;
    bottom: -25px;
}

.outofbox-tabsection .entity-selction #variance-range {
    width: 60%;
    padding: 0;
}

.outofbox-tabsection .entity-selction p {
    width: 25%;
    margin-left: 15px;
}

.outofbox-tabsection .entity-selction p:last-child {
    margin-left: 0;
    width: 58%;
}

.range-position {
    position: relative;
}

.outofbox-tabsection span.disable {
    opacity: 0.4;
}

span.ranking {
    padding-right: 10px;
}

.tell-what .card-header img:first-child,
.tell-data .card-header img:first-child {
    transform: rotateY(0) !important;
    -webkit-transform: rotateY(0) !important;
}

.drag-holder {
    background-position: center;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: -14px;
}

.toast {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    right: 0;
    background: rgba(76, 175, 80, 0.8);
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.copy-clipboard {
    position: absolute;
    right: 60px;
    display: none;
    margin-right: 5px;
    top: 0px;
}

.copy-clipboard img {
    width: 20px;
}

.narrative-section {
    transition: 0.3s all ease;
    overflow-y: auto;
    padding: 0px 10px;
}

.narrative-container {
    overflow-wrap: break-word;
    /* word-break: break-all; */
    padding: 20px 10px 10px 10px;
    color: #252525;
    float: none;
    clear: both;
}

.select-container {
    font-size: 14px;
    margin-right: 5px;
    min-width: 100px;
    max-width: 60%;
    display: inline-block;
    position: relative;
}

.select-container ul {
    display: none;
    position: absolute;
    top: 30px;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #aaa;
    width: 98%;
    max-height: 120px;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 2px 3px 10px #ddd9d9;
}

.select-container ul li {
    list-style: none;
    font-size: 13px;
    padding: 2px;
}

.select-container ul li:hover {
    background: #1382bc;
    color: #fff;
}

.select-container ul li:last-child {
    border-bottom: none;
}

.dropdown {
    padding: 5px 10px;
    min-width: 100px;
    width: 50px;
    max-width: 60%;
    font-weight: 500;
    border: 1px solid;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-size: 18px !important;
    color: #252525;
}

@media (max-width: 410px) {

    .col-md-9,
    .col-md-8,
    .col-md-6,
    .col-md-4,
    .col-md-3,
    .col-md-10,
    .col-md-2 {
        width: 100% !important;
        display: block;
        float: none;
        clear: both;
    }

    .edit-mapsection {
        display: inline-block !important;
    }

    .col-md-6.export,
    .col-md-6.data-json {
        margin-bottom: 10px;
    }

    footer .col-md-2 {
        margin-top: 10px;
        text-align: center;
    }

    footer .col-md-10.text-right {
        text-align: center;
    }
}

@media (max-width:630px) {

    .auth-header .col-md-4,
    .auth-header .col-md-8 {
        width: 100% !important;
        padding-left: 0px !important;
    }

    .export,
    .data-json,
    .csvload {
        margin-bottom: 10px;
    }
}

@media (max-width:610px) {
    .tell-data .card-content .col-md-6.text-right {
        text-align: center;
    }

    .tell-data .card-content .col-md-6 {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .outofbox-tabsection .card-content .col-md-4 {
        width: 100%;
    }

    .outofbox-tabsection .card-content .col-md-4 input,
    .outofbox-tabsection .card-content .col-md-4 select {
        width: 75%;
    }

    .outofbox-tabsection .card-content .col-md-4 span {
        width: 15%;
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .outofbox-tabsection .card-content .col-md-8 {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .container .outofbox-tabsection .card {
        padding: 0px 5px;
    }

    .multi-range {
        width: 100% !important;
    }

    .container .outofbox-tabsection input[type="range"] {
        width: 45%;
    }
}

@media (max-width: 310px) {
    .outofbox-tabsection .card-content .col-md-4 input {
        width: 70%;
    }

    .outofbox-tabsection .card-content .col-md-4 select {
        width: 75%;
    }
}

@media (max-width:410px) {

    .col-md-5,
    .col-md-7 {
        width: 100% !important;
        display: block;
    }

    .container header .tab-header button {
        font-size: 11px;
        margin-right: 0px;
        padding: 8px 4px;
    }

    .edit-map .col-md-6 {
        width: 49% !important;
    }
}

@media (max-width:540px) {

    .studio-options .col-md-3,
    .studio-options .col-md-9 {
        width: 100% !important;
    }

    .studio-options .col-md-9 p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .studio-options .col-md-9 p:last-child {
        margin-bottom: 10px;
    }
}

@media (max-width:310px) {
    .container section footer .openstudio_btn {
        width: 90%;
        margin-right: 0px;
    }

    section footer .generate_btn {
        width: 90%;
    }
}

@media (max-width:560px) {

    .stats .col-md-6.text-right,
    stats .col-md-6.text-left {
        width: 100% !important;
        text-align: left;
        margin-bottom: 10px;
    }
}

@media (max-width:520px) {

    .card-field .col-md-6.text-right,
    .card-field .col-md-6.text-left {
        text-align: left;
        width: 100% !important;
        margin-bottom: 10px;
    }
}

@media (max-width:710px) {
    .outofbox-tabsection .entity-selction p:last-child {
        width: 58% !important;
    }

    .outofbox-tabsection .entity-selction p {
        width: 20% !important;
    }
}

@media (max-width:620px) {
    .outofbox-tabsection .entity-selction p {
        width: 65% !important;
    }

    .outofbox-tabsection .entity-selction p:last-child {
        width: 100% !important;
    }
}

@media (max-width:360px) {
    .outofbox-tabsection .entity-selction #variance-range {
        width: 45% !important;
    }
}

@media (max-width:720px) {
    .multiple-range.col-md-8 {
        width: 100% !important;
    }
}

@media (max-width:520px) {
    .multiple-range label i:first-child {
        left: 0;
    }

    .multiple-range>span,
    .multiple-range label {
        display: block !important;
    }

    .multiple-range label {
        margin-top: 50px;
    }
}

@media (max-width:360px) {
    .multiple-range label {
        width: 260px !important;
    }
}

.valign-wrapper {
    display: inline-block;
}

.valign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.advance-slide {
    padding: 20px 0 20px 0;
}

/* .advance-studio {
    width: 75%;
} */
.advance-studio .col-md-3 p {
    margin-left: 8px;
}

.studio-options .col-md-3 {
    width: auto;
    margin-right: 24px;
}

.studio-options .col-md-9 {
    width: auto;
}

.advance-studio .col-md-3 {
    width: auto;
    margin-right: 18px;
}

.advance-studio .col-md-9 {
    width: auto;
}

/* .advance-slide input:checked+.slider {
    background-color: #1382bc;
}

.advance-slide .slider {
    border: 1px solid #1382bc;
}

.advance-slide .slider:before {
    border: 1px solid #1382bc;
} */

footer {
    bottom: 0px;
    height: 60px;
    min-height: 0;
    max-height: 60px;
    position: relative;
    padding: 0px;
    left: 0;
    right: 0;
    margin-top: 16px;
}

.col-md-6.data-json {
    padding-right: 0px;
}

.csv-payload,
.edit-map {
    font-family: 'Segoe UI Semibold';
}

.edit-map a {
    font-family: 'Segoe UI Semibold';
}

.edit-map.active a {
    color: #666;
}

.iframe {
    width: 100%;
    height: 100%;
}

.card * {
    font-family: 'Segoe UI';
}

.container * {
    font-family: 'Segoe UI';
}

.outofbox-tabsection .stats .card-content .col-md-6:first-child {
    text-align: center;
}

.tell-summary .card .card-header {
    padding: 10px 0 10px 0;
    color: #666;
}

.tell-summary .card-header label {
    display: inline;
}

.card .card-content label.range-position input {
    padding: 0px;
}

.drillDownLayout {
    margin-top: 20px;
    color: #252525;
}

.nondraggable {
    /* height: 20px; */
    background: #fff;
}

.timeSeries .col-md-8 {
    margin: 16px 0;
}

div.ootb-text {
    display: block;
    padding: 16px 0;
    overflow-wrap: break-word;
    word-break: break-word;
    color: #000;
}

#tell-summary div.ootb-text p {
    display: block !important;
}

.col-md-6.increase-container {
    width: 100%;
}

.outofbox-tabsection,
.narrative-tabsection {
    transition: 0.3s all ease;
    padding: 0px 10px;
}

.advance-mode .studio-options {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer .col-md-10 {
    width: 80%;
}

a.next img {
    margin-left: 5px;
}

a.previous img {
    margin-right: 5px;
}

.card .card-content .dimension-section p {
    margin-top: 8px;
    margin-bottom: 3px;
}

.card .card-content .dimension-section p:last-child {
    margin-left: 88px;
}

.measure-list.text-left {
    text-align: center;
}

.qlik-container .outofbox-tabsection .measure-list .col-md-4 {
    width: auto;
    padding-right: 24px;
}

.qlik-container .outofbox-tabsection .measure-list select {
    width: 160px;
    padding-left: 12px;
}

.qlik-container .outofbox-tabsection .measure-list input {
    width: 139px;
    padding-left: 12px;
}

.qlik-container .outofbox-tabsection .measure-list .col-md-4:last-child {
    padding-right: 0px;
}

.qlik-container .outofbox-tabsection .measure-list .col-md-4 {
    margin: 0 0 10px 0;
}

.qlik-container .outofbox-tabsection .increase-container {
    margin: 0;
}

.col-md-6.distribution-container {
    width: 100%;
}

div.distribution {
    display: inline-block;
}

div.distribution:last-child {
    margin-left: 78px;
}

.outofbox-tabsection .variance .col-md-4 {
    width: auto;
    padding-right: 12px;
}

.qlik-container .outofbox-tabsection .variance .col-md-4 select {
    width: 160px;
    height: 26px;
    padding: 0 5px 0 12px;
}

.timebasedvariance,
.targetbasedvariance {
    text-align: center;
}

.outofbox-tabsection .entity-selction p:first-child {
    text-align: center;
}

.outofbox-tabsection .entity-selction p {
    width: 39%;
    margin-left: 15px;
}

.outofbox-tabsection .entity-selction p:last-child {
    margin-left: 0;
    width: 59%;
}

.outofbox-tabsection .entity-selction p span.entitylabel {
    margin-right: 16px;
}

.qlik-container .outofbox-tabsection .entity-selction select {
    width: 25%;
}

.qlik-container .stats .card-content {
    padding-bottom: 0px;
}

.card .card-content .measure-list input,
.card .card-content .measure-list select {
    padding: 2.5px 5px;
    margin-left: 7px;
}

div.ootb-text p {
    display: block !important;
    margin-left: 0px !important;
}

.tell-data .nondraggable {
    height: 10px;
}

.measure-list {
    text-align: center;
}

.slider.ui-widget:before {
    content: "";
    position: absolute;
    display: none;
}

.tell-what .card-header span {
    font-weight: 400;
}

.tell-what .card-header i {
    font-weight: 400;
}

.narrative-container p {
    margin: 10px 0px;
}

.ootb-text h1,
.narrative-container h1,
.ootb-text h2,
.narrative-container h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.ootb-text h3,
.narrative-container h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.simple-checkContainer,
.advance-checkContainer {
    padding-bottom: 16px;
    color:#000;
}
.hide.disable{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.resize-disable{
    max-width: 90px;
    margin-right: 10px;
}
.version{
    margin: 5px 0px 0px 0px;
}